# See https://wiki.debian.org/Javascript/Nodejs/Manual
# for some guidance on packaging node modules
Source: oblong-gs3.30-node-gelatin
Section: web
Priority: extra
Maintainer: buildtools <buildtools@oblong.com>
Build-Depends:
 debhelper (>= 9.0.0),
 libjpeg62,
# libpng12-dev for ubuntu 16.04, libpng-dev for ubuntu 17.10 and up
 libpng12-dev | libpng-dev,
 libtiff5-dev,
# Note that nodejs6 includes npm:
 nodejs (>=6.11.2) | nodejs6 (>= 6.11.2),
 npm (>= 3.5.2) | nodejs6 (>= 6.11.2),
 oblong-plasma3.30,
 oblong-system-protist3.30,
 pkg-config,
 python2.7,
Standards-Version: 3.9.8
Homepage: https://github.com/oblong/gelatin
XS-Testsuite: autopkgtest
Vcs-Git: https://github.com/Oblong/gelatin.git
Vcs-Browser: https://github.com/Oblong/gelatin.git

Package: oblong-gs3.30-node-gelatin
Architecture: any
Depends:
 ${shlibs:Depends},
 nodejs (>=6.11.2) | nodejs6 (>= 6.11.2),
 oblong-plasma3.30,
 oblong-system-protist3.30,
Description: libPlasma bindings/implementation for Node.js.
 .
 Node.js is an event-based server-side javascript engine.
