# See https://wiki.debian.org/Javascript/Nodejs/Manual
# for some guidance on packaging node modules
Source: oblong-gs4.7-node-gelatin
Section: web
Priority: extra
Maintainer: buildtools <buildtools@oblong.com>
Build-Depends:
 debhelper (>= 9.0.0),
 libjpeg62,
# libpng12-dev for ubuntu 16.04, libpng-dev for ubuntu 17.10 and up
 libpng12-dev | libpng-dev,
 libtiff5-dev,
# begin nodejs6 boilerplate
# See similar nodejs6 dependency logic in mezzanine and plasma-web-proxy
# FIXME: can we refactor this so only one package has the logic, and others depend on it?
# nodejs on Ubuntu 16.04 is 4.2.6 and needed extra package nodejs-classic; too old.
# nodejs on Ubuntu 17.10 is 6.11.4
# nodejs on Ubuntu 18.04 is 8.10
# To get new enough node on Ubuntu 16.04, we repackaged upstream nodejs as nodejs6.
# That includes npm, so we only need to install npm if using system nodejs.
 nodejs6 (>= 6.11.2) | nodejs (>= 6.11.2),
 nodejs6 (>= 6.11.2) | npm (>= 3.5.2),
# end nodejs6 boilerplate
 oblong-plasma4.7,
 oblong-system-protist4.7,
 pkg-config,
 python2.7,
Standards-Version: 3.9.8
Homepage: https://github.com/oblong/gelatin
XS-Testsuite: autopkgtest
Vcs-Git: https://github.com/Oblong/gelatin.git
Vcs-Browser: https://github.com/Oblong/gelatin.git

# This package was folded into the g-speak platform
# during the g-speak 4.5 development cycle.
# As part of the platform train, it gets a rel-4.6.1
# tag and version number... which changes the
# vestigal trailing zero in the package name to 4,
# confusing downstream users.  Rather than just
# remove the suffix, the package was renamed to
# the new naming scheme introduced with g-speak 4.6.
# Conflicts:, Replaces:, and Provides: headers were
# added so installing the new package does not fail
# if the old package was already installed.
# See the 'clean slate' upgrade method in
# https://wiki.debian.org/RenamingPackages

Package: oblong-gs4.7-node-gelatin
Conflicts: oblong-node-gelatin-gs4.7x0
Replaces: oblong-node-gelatin-gs4.7x0 
Provides: oblong-node-gelatin-gs4.7x0 
Architecture: any
Depends:
 ${shlibs:Depends},
# begin nodejs6 boilerplate
 nodejs6 (>= 6.11.2) | nodejs (>= 6.11.2),
# end nodejs6 boilerplate
 oblong-plasma4.7,
 oblong-system-protist4.7,
Description: libPlasma bindings/implementation for Node.js.
 .
 Node.js is an event-based server-side javascript engine.
