#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# To sense this from environment, we'd have to parse out the version number and plop it on the package names
# Instead, encourage developers to use ob-set-defaults if they need to change the version of g-speak the debian package builds against
G_SPEAK_HOME=/opt/oblong/g-speak4.7
export G_SPEAK_HOME

YOBUILD=/opt/oblong/deps-64-12
export YOBUILD

SHLIBSDIR = debian/oblong-gs4.7-node-gelatin/usr/lib/node/gelatin/build/Release
SHLIBS = gelatin.node

%:
	dh $@

override_dh_auto_configure:
	npm install
	# Funny quoting on next line is to prevent overeager search-and-replace of yo-build by ob-set-default
	./node-gyp-wrapper configure --g_speak_home=$(G_SPEAK_HOME) --yo'build'_home=$(YOBUILD)

override_dh_auto_build:
	./node-gyp-wrapper build

override_dh_auto_test:
	npm test

override_dh_auto_clean:
	./node-gyp-wrapper clean

# since we're building the native libs, ignore the fallbacks
# also have to rename .node to .so so they are detected by dh_strip dh_shlibdeps etc
override_dh_install:
	dh_install
	cd $(SHLIBSDIR) && { \
	  chmod -x $(SHLIBS); \
	  for i in $(SHLIBS); do mv "$$i" "$${i%.node}.so"; done; }

# restore .node name
override_dh_shlibdeps:
	dh_shlibdeps
	cd $(SHLIBSDIR) && mv gelatin.so gelatin.node

.PHONY: debian/clean
